<div id="modal" class="point">
    <div class="content">
    <link rel="stylesheet" href="styles/checkanimated.css">
          <div class="check_mark">
  <div class="sa-icon sa-success animate">
    <span class="sa-line sa-tip animateSuccessTip"></span>
    <span class="sa-line sa-long animateSuccessLong"></span>
    <div class="sa-placeholder"></div>
    <div class="sa-fix"></div>
  </div>
</div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

             <h1>Cadastro concluído!</h1>
             
        
    </div>
</div>
   <script  src="scripts/check.js"></script>

<script>

 setTimeout(()  => {window.location = "/"
 }, 2000)

</script>
